@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Bem vindo a área do aluno</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputMatricula" class="form-label">Número da matrícula</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Sua matrícula são os 5 primeiros dígitos do seu cpf.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-outline-success">Entrar</button>
    <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
</form>
